p Hi ,
p Welcome to Mars, the red planet.
h1 Benvenuto #{name}!

p Siamo felici di averti in squadra! 
p Ti aspettano grandi sfide ma anche tante risate insieme a noi, conferma qui la tua mail per diventare un Gymler al 100%! 
button bottone